.authorization-field{
  width: 700px;
  height: 500px;
  border: solid coral 1px;
  margin: 0 auto;
  margin-top: 220px;
}

.nav-wrapper{
  color: coral;
}
.main-text{
  width: 55%;
  height: 200px;
  margin: 200px 470px 0;
  padding: 20px;
  color: dimgrey;
  font-family: "Arial Black";
  font-size: 3em;
  border: solid coral 1px;
}
